############################################################
# RTL
############################################################
# [INCLUDE: folders] allow ip_bundle
!**/ip_bundle/

############################################################
# Design Compiler
############################################################
# [EXCLUDE: files]
*.pvl
*.syn
*.mr
moduleparamid
*.svf

# [EXCLUDE: folders / prefixes]
alib-*
WORK.*
**/svf/

############################################################
# Formality
############################################################
# [EXCLUDE: files]
*.fm.*
*.fpm
*.svf.old
FM_INFO

# [EXCLUDE: prefixes]
formality_*

############################################################
# VC Static / Verdi / Novas
############################################################
# [EXCLUDE: prefixes]
vcst*
Verdi*
verdi*
novas*

# [EXCLUDE: files]
.vcstPref
.vc_env_*.txt
*.session_rtdb*

# [EXCLUDE: folders]
*.session_rtdb.bak/
**/.internal/
**/.lock

############################################################
# Common EDA temp / working dirs
############################################################
# [EXCLUDE: folders]
work/
work_*/
wrk/
wrk_*/
temp/
tmp/

############################################################
# Logs / Reports policy
############################################################
# [EXCLUDE: files] ignore all logs/reports by default
*.log
*.rpt

# [INCLUDE: folders] allow hosting folders
!**/log/
!**/logs/
!**/report/
!**/reports/
!**/rpt/

# [INCLUDE: files in folders] re-include everything under them
!**/log/**
!**/logs/**
!**/report/**
!**/reports/**
!**/rpt/**
