############################################################
# Flow: Common (all flows)
############################################################
#------------------------------------------------------------
# Tool: Common
#------------------------------------------------------------

# [EXCLUDE: folder]
work/
work_*/
wrk/
wrk_*/
temp/
tmp/

# [EXCLUDE: file]
*.swp
*.swo

# [INCLUDE: folder]
# (none)

# [INCLUDE: file]
# (none)


############################################################
# Flow: RTL (01.rtl)
############################################################
#------------------------------------------------------------
# Tool: Common RTL packaging
#------------------------------------------------------------

# [EXCLUDE: folder]
# (none)

# [EXCLUDE: file]
# (none)

# [INCLUDE: folder]
!**/ip_bundle/

# [INCLUDE: file]
# (none)


############################################################
# Flow: Constraint (00.constraints)
############################################################
#------------------------------------------------------------
# Tool: Common Constraints
#------------------------------------------------------------

# [EXCLUDE: folder]
# (none)

# [EXCLUDE: file]
# (none)

# [INCLUDE: folder]
# (none)

# [INCLUDE: file]
# (none)


############################################################
# Flow: Lint / CDC / UPF Verify (02.lint, 03.upfVerify, 04.cdcVerify)
############################################################
#------------------------------------------------------------
# Tool: Synopsys VC Static / Verdi / Novas
#------------------------------------------------------------

# [EXCLUDE: folder]
*.session_rtdb.bak/
**/.internal/
**/.lock

# [EXCLUDE: file]
.vcstPref
.vc_env_*.txt
*.session_rtdb*

# [EXCLUDE: prefix]
vcst*
Verdi*
verdi*
novas*

# [INCLUDE: folder]
# (none)

# [INCLUDE: file]
# (none)


############################################################
# Flow: Synthesis (05.synthesis)
############################################################
#------------------------------------------------------------
# Tool: Synopsys Design Compiler
#------------------------------------------------------------

# [EXCLUDE: folder]
alib-*
WORK.*
**/svf/

# [EXCLUDE: file]
*.pvl
*.syn
*.mr
moduleparamid
*.svf

# [INCLUDE: folder]
# (none)

# [INCLUDE: file]
# (none)


############################################################
# Flow: Formal (06.formal)
############################################################
#------------------------------------------------------------
# Tool: Synopsys Formality
#------------------------------------------------------------

# [EXCLUDE: folder]
FM_INFO/

# [EXCLUDE: file]
*.fm.*
*.fpm
*.svf.old

# [EXCLUDE: prefix]
formality_*

# [INCLUDE: folder]
# (none)

# [INCLUDE: file]
# (none)


############################################################
# Flow: Simulation (10.sim)
############################################################
#------------------------------------------------------------
# Tool: Synopsys VCS
#------------------------------------------------------------

# [EXCLUDE: folder]
simv.daidir/
simv.db.dir/
simv.vdb/
urgReport/
csrc/

# [EXCLUDE: file]
*.vcd
*.vpd
*.evcd
*.fsdb
simv
ucli.key
vc_hdrs.h

#------------------------------------------------------------
# Tool: Cadence (Incisive / Xcelium)
#------------------------------------------------------------

# [EXCLUDE: folder]
INCA_libs/
xcelium.d/
.bpad/
.simvision/
waves.shm/
wave/

# [EXCLUDE: file]
*.elog
irun.log
xrun.log
irun.key
xrun.key
irun.history
xrun.history
ncelab_*.err
xmelab_*.err
ncsim_*.err
xmsim_*.err
bpad_*.err

# [INCLUDE: folder]
# (none)

# [INCLUDE: file]
# (none)


############################################################
# Flow: Build outputs (tool-agnostic C/C++ artifacts)
############################################################
#------------------------------------------------------------
# Tool: Common compiler/linker
#------------------------------------------------------------

# [EXCLUDE: folder]
*.dSYM/
.tmp_versions/

# [EXCLUDE: file]
*.d
*.o
*.ko
*.obj
*.elf
*.vhx
*.bin
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.su
*.idb
*.pdb
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf

# [INCLUDE: folder]
# (none)

# [INCLUDE: file]
# (none)


############################################################
# Flow: Logs / Reports policy (all flows)
############################################################
#------------------------------------------------------------
# Tool: Common
#------------------------------------------------------------

# [EXCLUDE: file]
*.log
*.rpt

# [INCLUDE: folder]
!**/log/
!**/logs/
!**/report/
!**/reports/
!**/rpt/

# [INCLUDE: file]
!**/log/**
!**/logs/**
!**/report/**
!**/reports/**
!**/rpt/**
