############################################################
# Design Compiler
############################################################
default.svf
*.pvl
*.syn
*.mr
alib-*
WORK.*
moduleparamid

############################################################
# Formality
############################################################
# tool outputs
*.fm.*
*.fpm
*.svf.old
FM_INFO
formality_*

############################################################
# VC Static / Verdi / Novas
############################################################
vcst*
Verdi*
verdi*
novas*

*.session_rtdb
.vcstPref

############################################################
# Common EDA temp / working dirs
############################################################
# 대부분 EDA툴 work/report/log 디렉토리 패턴
work/
work_*/
wrk/
wrk_*/
temp/
tmp/

############################################################
# Allow logs and reports
############################################################
#log/
#logs/
#report/
#reports/
#rpt/
